.btn-habit-category {
  text-align: left;
}


.btn-container-checkin {
  width: 320px;
  height: 320px;
  margin: auto;
}


.btn-checkin {
  width: 50%;
  height: 50%;
  margin: auto;
}



/*.btn-container-share {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1em;
}



@media only screen and (max-width: 500px) {

  .btn-container-share {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

}*/
