.btn-habit-category {
  text-align: left;
}


.btn-container-checkin {
  width: 320px;
  height: 320px;
  margin: auto;
}


.btn-checkin {
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 48px;
  font-weight: 200;
}


.checkInProgress {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}


.progressDotContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}


.progressDot {
  margin: 0 auto;
  background-color: #EDEDED;
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

.checkedIn {
  background-color: 
}





/*
@media only screen and (max-width: 500px) {


  .progressDot {
    width: 40px;
    height: 40px;
  }

}
 */
